.experience {
  position: relative;
  width: auto;
  height: auto;
}

.experience canvas {
  position: absolute;
  left: 0;
  width: auto;
  height: auto;
}

.video {
  visibility: hidden;
  width: auto;
  height: auto;
}
